@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-thumb {
  @apply bg-muted rounded;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 214 90% 52%;
    --accent-foreground: 0 0% 100%;

    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --card: var(--background);
    --card-foreground: var(--foreground);
    --popover: var(--background);
    --popover-foreground: var(--foreground);

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;

    --radius: 0.75rem;
  }

  .dark {
    --background: 218 18% 12%;
    --foreground: 210 15% 88%;

    --muted: 213 18% 16%;
    --muted-foreground: 210 9% 70%;

    --accent: 214 84% 56%;
    --accent-foreground: 0 0% 100%;

    --primary: 0 0% 100%;
    --primary-foreground: 218 18% 12%;

    --secondary: 215 28% 17%;
    --secondary-foreground: 0 0% 100%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --card: var(--muted);
    --card-foreground: var(--foreground);
    --popover: var(--muted);
    --popover-foreground: var(--foreground);

    --border: 215 28% 17%;
    --input: 215 28% 17%;
    --ring: 212 10% 40%;
  }

  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}